body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

main{
  margin: 2rem;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size:large;
}

.navbar {
  background-color: rgb(63, 125, 183); 
  padding: 0.5rem; 
  display: flex;
  
}

/* Estilos para los enlaces del navbar */
.navbar-link {
  color: #fff; /* Color del texto */
  text-decoration: none; /* Quita el subrayado */
  margin-right: 1rem; /* Espacio entre los enlaces */
  font-size: 1.2rem; /* Tamaño del texto */
  transition: color 0.3s; /* Transición suave del color */
}

.navbar-link:hover {
  color: #ff6600; /* Cambia el color del texto al pasar el mouse */
}

/* Estilos para el logo del navbar */
.navbar-logo {
  margin-right: auto; /* Empuja el logo hacia la izquierda */
  font-size: 1.5rem; /* Tamaño del texto del logo */
  color: #fff; /* Color del texto */
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold; /* Texto en negrita */
  
}

/* Estilos para el botón del navbar (si lo tienes) */
.navbar-button {
  background-color: #ff6600; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Quita el borde */
  padding: 0.5rem 1rem; /* Espaciado interno */
  font-size: 1rem; /* Tamaño del texto */
  cursor: pointer; /* Cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
 
}

.navbar-button:hover {
  background-color: #ff8533; /* Cambia el color de fondo al pasar el mouse */
}

.card-img {
  width: 8vw;
  height: 8vw;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(63, 125, 183);
 
}

.logo img{
  align-items: flex-start;
  
}

.logo {
  width: 200px;
  margin: 0;
}

footer > p{
  margin: 0;
  padding-top: 0.7rem;
  
}
.footer-icons {
  display: flex;
  gap: 5px; /* Espaciado entre los íconos */
}

.footer-icons img {
  width: 20px; /* Tamaño deseado para los íconos */
  height: auto; /* Altura automática para mantener la proporción */
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}
.inconos {
  width: 100%;
  height: 3px;
  background-color:  grey
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}